<div class="panel gap-20">
    <h2 id="panel-title" class="hero">App: Veps</h2>
    <div class="panel-data">
        <div class="panel-data-left">
            <form name="app-create" id="form-app-create">
                <div class="field">
                    <label for="keyword">Keyword: </label>
                    <input type="text" name="keyword" placeholder="Idea del post o palabra clave" id="keyword" required />
                </div>
                <div class="field">
                    <label for="country">Pais: </label>
                    <input type="text" name="country" value="mx" placeholder="Esribe las 2 letras del Pais (mx = mexico, sp = España, etc.)" id="country" required />
                </div>
                <div class="field">
                    <label for="keyword">Idioma: </label>
                    <input type="text" name="keyword" value="spanish" placeholder="Ingresa el idioma en ingles." id="language" required />
                </div>
                <div class="field">
                    <input class="btn-dark-outline" type="submit" value="Crear Post" />
                </div>
            </form>
            <p id="app_notice"></p>
        </div>

        <div class="panel-data-right">
            <a class="item-post" href="/post/asdasdadsasd">
                <h3 class="item-post-title">Como usar Shein para emprender en Ecuador 2023</h3>
                <span class="item-post-status">Completed</span>
                <p class="item-post-resume">Conoceremos como ganar dinero y emprender en Ecuador emprendiendo este 2023, no te olvides que es muy importante conocer como hacerlo debido a que todo esto sera el futuro a mas adelante.</p>
            </a>

            <a class="item-post" href="/post/asdasdadsasd">
                <h3 class="item-post-title">Como usar Shein para emprender en Ecuador 2023</h3>
                <span class="item-post-status">Completed</span>
                <p class="item-post-resume">Conoceremos como ganar dinero y emprender en Ecuador emprendiendo este 2023, no te olvides que es muy importante conocer como hacerlo debido a que todo esto sera el futuro a mas adelante.</p>
            </a>

            <a class="item-post" href="/post/asdasdadsasd">
                <h3 class="item-post-title">Como usar Shein para emprender en Ecuador 2023</h3>
                <span class="item-post-status">Completed</span>
                <p class="item-post-resume">Conoceremos como ganar dinero y emprender en Ecuador emprendiendo este 2023, no te olvides que es muy importante conocer como hacerlo debido a que todo esto sera el futuro a mas adelante.</p>
            </a>

            <a class="item-post" href="/post/asdasdadsasd">
                <h3 class="item-post-title">Como usar Shein para emprender en Ecuador 2023</h3>
                <span class="item-post-status">Completed</span>
                <p class="item-post-resume">Conoceremos como ganar dinero y emprender en Ecuador emprendiendo este 2023, no te olvides que es muy importante conocer como hacerlo debido a que todo esto sera el futuro a mas adelante.</p>
            </a>
        </div>
    </div>
</div>