<div class="loginform">
    <h2 class="sub-hero">Recupera tu Contraseña</h2>
    <form name="register">
        <div class="field">
            <label for="email">Tu correo: </label>
            <input type="email" name="username" id="user" required />
        </div>
        <div class="field">
            <input class="btn-dark-outline" type="submit" value="Recuperar Contraseña" />
        </div>
    </form>
    <p>¿No tienes una cuenta? <a target="_self" href="./register">Registrate Aquí</a></p>
</div>