<div class="gap-20 marg-t20">
    <h1 class="hero">Posiciona tu sitio web con contenido <cw>Profesional</cw></h1>
    <p class="txt-big mx-width-600">CleverWritify: la verdadera herramienta para generar contenido optimizado para SEO, datos actuales, ranking, comparativas y mucho más.</p>
    <a class="btn-dark" href="./register">¡Quiero Probar!</a>
</div>
<div class="txt-acenter align-icenter marg-lauto marg-rauto border-r2 back-gray pad-20 marg-t80 marg-b40 gap-20 bk-img1  mn-height-600 txt-cwhite justify-ccenter">
    <h2 class="sub-hero txt-cwhite">Ahorra <cw>Tiempo</cw> y enfocate en Ganar Más</h2>
    <p class="txt-big mx-width-600">Ahorra tiempo al evitar la publicación manual y concéntrate en la creación de más sitios web para aumentar tus ganancias en línea.</p>
</div>
<div class="gap-20">
    <h2 class="sub-hero">Conoce nuestros <cw>Precios</cw></h2>
    <p class="txt-big mx-width-600">Cada publicación será económica y de la mejor calidad. Con CleverWritify, podrás generar miles de publicaciones de manera rentable y profesional.</p>
    <div class="pricing">
        <div class="price">
            <div class="amount-price">
                <span class="txt-currency">US$</span><span class="txt-price">2,99</span>
            </div>
            <span>10 Creditos</span>
        </div>

        <div class="price">
            <div class="amount-price">
                <span class="txt-currency">US$</span><span class="txt-price">13,99</span>
            </div>
            <span>50 Creditos</span>
        </div>

        <div class="price">
            <div class="amount-price">
                <span class="txt-currency">US$</span><span class="txt-price">26,99
                </span>
            </div>
            <span>100 Creditos</span>
        </div>

        <div class="price">
            <div class="amount-price">
                <span class="txt-currency">US$</span><span class="txt-price">39,99</span>
            </div>
            <span>150 Creditos</span>
        </div>
    </div>
    <p>Cada credito equivale a 1 publicacion, pero tambien se pueden usar con otros servicios a futuro (proximamente categorizacion automatica)</p>
</div>