<div class="loginform">
    <h2 class="sub-hero">Inicia Sesion</h2>
    <form name="login" id="form-login">
        <div class="field">
            <label for="email">Tu email: </label>
            <input type="email" name="email" id="email" required />
        </div>
        <div class="field">
            <label for="password">Tu contraseña: </label>
            <input type="password" name="password" id="password" required />
        </div>
        <div class="field">
            <input class="btn-dark-outline" type="submit" value="Iniciar Sesion" />
        </div>
    </form>
    <p id="app_notice"></p>
    <p>¿No tienes una cuenta? <a target="_self" href="./register">Registrate Aquí</a></p>
    <p><a target="_self" href="./rescue">Olvide mi contraseña</a></p>
</div>