<div class="panel gap-20">
    <h2 id="panel-title" class="hero">Mi Panel</h2>
    <div class="panel-data">
        <div class="item-panel">
            <span id="ip-data1">0</span>
            <p>Creditos</p>
        </div>
        <div class="item-panel">
            <span id="ip-data2">0</span>
            <p>Apps</p>
        </div>
        <div class="item-panel">
            <span id="ip-data3">0</span>
            <p>Posts</p>
        </div>
        <div class="item-panel">
            <span id="ip-data4">0</span>
            <p>Balance</p>
        </div>
    </div>
    <div class="panel-apps">
        <a class="item-app" href="panel/add">
            <span style="font-size: 60px;font-weight:700;line-height: 50px;margin-top:-20px;">+</span>
            <p>Agregar APP</p>
        </a>
    </div>
</div>