/* HERO */
.hero {
    font-size: 45px;
    color: var(--brand-black);
    font-weight: 800;
    line-height: 45px;
    margin: 0;
}

.sub-hero {
    font-size: 35px;
    color: var(--brand-black);
    font-weight: 800;
    line-height: 35px;
    margin: 0;
}

.credits {
    color: var(--gray2);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.credits a {
    color: inherit; /* Esto hereda el color del texto original */
    text-decoration: none; /* Puedes eliminar subrayado u otros estilos de enlace si es necesario */
}

.bk-img1 {
    background-image: url('../uploads/img/bk-img1.webp');
    background-size: cover;
    background-position: center;
}

.pricing {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
    padding: 20px 0px;
}

.price {
    display: flex;
    border: 3px solid var(--brand-black);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    min-height: 130px;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.amount-price {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: end;
}

.price:hover {
    transform: translateY(-4px);
    border-color: var(--brand-red);
    color: var(--brand-red);
}

.field {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}

.loginform {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: stretch;
}

#app_notice {
    font-size: 17px;
    background: var(--gray1);
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    display: none;
}

.panel-data {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 15px;
}

.item-panel {
    padding: 20px;
    background: var(--gray1);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
}

.item-panel:hover {
    background: var(--brand-red);
    color: var(--white);
}

.item-panel span {
    font-family: 'Bricolage';
    font-size: 25px;
    font-weight: 700;
}

.panel-apps {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}

.item-app {
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    border: 2px solid var(--brand-black);
    color: var(--brand-black);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    padding: 20px;
    border-radius: 15px;
    align-items: start;
    justify-content: end;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.item-app:hover {
    background: var(--brand-black);
    color: var(--white);
}
.item-app h3 {
    font-size: 30px;
    font-weight:700;
    line-height: 35px;
    white-space: nowrap; /* Evita que el texto se divida en palabras */
    overflow: hidden;    /* Oculta cualquier texto que se desborde del contenedor */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) en caso de desbordamiento */
    overflow-wrap: break-word;
}

.panel-data-left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background: var(--gray1);
    align-items: normal;
}

.panel-data-right{
    padding-top: 20px;
    display: grid;
    gap: 15px;
    grid-column: 1/-1;
}

.item-post {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 5px;
    padding: 10px;
    border: 2px solid var(--brand-black);
    color: var(--brand-black);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.item-post:hover{
    border-color: var(--brand-red);
    cursor: pointer;
}
.item-post-title {
    font-size: 22px;
    font-weight: 600;
}
.item-post-status {
    width: auto;
    background: var(--brand-red);
    color: var(--white);
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}
.item-post-resume {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Cambia este valor al número deseado de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* MEDIA QUERYS */
@media screen and (min-width: 375px) {
    .hero {
        font-size: 50px;
        line-height: 50px;
    }
    .sub-hero {
        font-size: 40px;
        line-height: 40px;
    }
    .item-panel {
        font-size: 22px;
    }
    .item-panel span {
        font-size: 30px;
    }
    .panel-apps {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 540px) {
    .hero {
        font-size: 60px;
        line-height: 60px;
    }
    .sub-hero {
        font-size: 50px;
        line-height: 50px;
    }
    .pricing {
        grid-template-columns: 1fr 1fr;
    }
    .panel-data {
        grid-template-columns: 1fr 1fr;
    }

    .panel-data-right{
        grid-column: 2/-1;
        grid-template-columns: 1fr;
    }

    .panel-apps {
        grid-template-columns: 1fr 1fr;
    }
    .item-panel span {
        font-size: 35px;
    }
    .item-panel {
        font-size: 25px;
    }
}

@media screen and (min-width: 700px) {
    .hero {
        font-size: 70px;
        line-height: 70px;
    }
    .sub-hero {
        font-size: 60px;
        line-height: 60px;
    }
    
    .pricing {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .panel-apps {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item-panel span {
        font-size: 38px;
    }
    .item-panel {
        font-size: 26px;
    }

}

@media screen and (min-width: 1000px) {
    .hero {
        font-size: 80px;
        line-height: 80px;
    }

    .panel-data {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .panel-data-right{
        grid-column: 2/-1;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .panel-apps {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .item-panel span {
        font-size: 40px;
    }
    .item-panel {
        font-size: 28px;
    }
}

@media screen and (max-width: 599px) and (orientation: landscape) {
}