.logo {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.logo:hover > * {
    color: var(--brand-red) !important;
}
.logo h1 {
    font-size: 25px;
    color: var(--brand-black);
    font-weight: 700;
    line-height: 20px;
    margin: 0px;
}
.logo span {
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    margin: 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--font);
}

.item-menu {
    padding: 10px;
    text-decoration: none;
    color: var(--font);
}

.item-menu:hover {
    color: var(--brand-red);
}