<footer>
    <span class="credits txt-acenter">©CleverWritify Powered by <a title="Agencia de Marketing Digital" target="_blank" rel="nofollow" href="https://blexux.com">Blexux.com</a></span>
</footer>