<header>
    <a class="logo" href="/">
        <h1>CleverWritify<cw>.</cw></h1><span>AI Post</span>
    </a>
    <div class="menu">
        <a class="item-menu btn-dark-outline" href="/panel">
            <span>Mi Panel</span>
        </a>
    </div>
</header>